/* Remove existing settings */
* {
    margin: 0%;
    padding: 0%;
}

/* Body display */
body{
    background: linear-gradient(-180deg, #37235f, rgb(99, 42, 95));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f5deb3;
}

/* Container Styling */
.container{
    height: auto;
    width: 70%;
}

.content{
    background-color: #37235f;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(99, 42, 95, 0.9), 0 6px 20px 0 rgba(181, 12, 233, 0.19);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1%;
    padding: 2%;
    gap: 20px;
}

/* Menu Frame Styling */
.container .content #menuFrame{
    box-sizing: border-box;
    flex: 1;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container .content #menuFrame a:hover{
    cursor: pointer;
    font-size: large;
    border: 1px solid #f5deb3;
    border-radius: 10px;
    padding: 10px;
}

.container .content #contentDisplay{
    border-left: 2px solid rgb(99, 42, 95);
    flex: 3;
    height: 80vh;
}

.container .content #contentBody{
    /* background-color: #3b2b5a; */
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .content #contentBody #allTodos{
    /* display: none; */
}

.container .content #contentBody #createNew{
    /* display: none; */
}