/* Remove existing settings */
* {
    margin: 0%;
    padding: 0%;
}

/* Body display */
body{
    background: linear-gradient(-180deg, #37235f, rgb(99, 42, 95));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f5deb3;
}

/* Container Styling */
.container{
    height: auto;
    width: 65%;
}

.content{
    background-color: #37235f;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(99, 42, 95, 0.9), 0 6px 20px 0 rgba(181, 12, 233, 0.19);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1%;
    padding: 2%;
    gap: 20px;
}

.desc{
    flex: 1;
    text-align: center;
}

/* Menu Frame Styling */
.container .content .desc #menuFrame{
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 20px 10px;
}

.container .content #menuFrame a:hover{
    cursor: pointer;
    font-size: large;
    border: 1px solid #f5deb3;
    border-radius: 10px;
    padding: 10px;
}

.container .content #contentDisplay{
    border-left: 2px solid #4b2148;
    flex: 2;
    height: 60vh;
    padding: 10px 15px;
}

.container .content .contentBody{
    background-color: #3b2b5a;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95%;
    text-align: center;
    width: 100%;
}

.todoOverflow{
    overflow-y: auto;
    height: 100%;
    margin: 5px 0px;
}

.container .content .contentBody .incompletedTodos{
    display: none;    
}

.todoItem{
    background-color: #37235f;
    border: 1px solid #4b2148;
    border-radius: 15px;
    height: auto;
    width: 85%;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ids, .state{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45%;
    align-items: center;
}
.state{
    justify-content: center;
    gap: 20px;
}

button{
    padding: 10px;
    width: 80px;
    text-align: center;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.container .content .contentBody .createNew{
    display: block;
}

.form{
    background-color: #37235f;
    border: 1px solid #4b2148;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 25px;
    margin: 20px 15px;
    width: 80%;
}

.form .formItem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.form .formItem input{
    width: 95%;
    padding: 8px;
    border: none;
    border-radius: 10px;
}

.btns{
    display: flex;
    justify-content: space-evenly;
}

.container .content .contentBody .completedTodos{
    display: none;
}